body {
    padding-top: 5rem;
}

.images {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 40fr);
    grid-gap: 8px;
    list-style: none;

}

.image_c {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 300px;
    position: relative;
}

.image {
    height: 250px;
    width: 300px;
    margin: 0;
    padding: 0;

}